// ------------------------------------
// FORMS:
// forms, inputs, textareas
// ------------------------------------

// Default form
form {
  margin-bottom: $defaultWhitespace;
  padding: $defaultWhitespace ($defaultWhitespace*2);

  background-color: $formBgColor;
  border: 3px solid $bgDarkColor;
}

.form-body {
  margin-top: $defaultWhitespace;
  display: none;
  &.is-expanded {
    display: block;
  }
}

.form-header {
  .headingD {
    color: $textColor;
    &:hover {
      cursor: pointer;
      color: $concreteColor;
    }
  }

  .headingD.is-done {
    position: relative;

    color: $greenColor;

    &:before {
      @include icon-success();
      font-size: inherit;
      top: 0;
    }
    &:hover {
      cursor: default;
    }
  }
}


// DEFAULT INPUT
.input, .textarea {
  width: 100%;
  margin: 0 0 $defaultWhitespace 0;
  padding: 0.4em 0.5em;
  border: 2px solid $defaultBorderColor;

  background-color: #fff;
  font-family: $sansFont;
  font-size: 18px;
  line-height: 1.4;
  outline: none;
  text-shadow: none;
}

// DEFAULT SELECT styling is tricky so leaving it alone
.select {
  margin: 0 0 $defaultWhitespace 0;
  padding: 0.4em 0.5em;

  outline: none;
  text-shadow: none;
}

// CHECKBOXES
.checkbox {
  margin: 0 0 $defaultWhitespace 0;

  input[type="checkbox"],
  input[type="radio"] {
    margin: 0;
    padding: 0;
  }
}

// Find a team member
.search {
  position: relative;

  &:before {
    content: "\f002";

    position: absolute;
    top: 5px;
    left: 10px;

    color: $grayColor;
    font-size: 22px;
    font-family: "FontAwesome";
    z-index: 1;
  }
}
.search-query {
  margin-bottom: ($defaultWhitespace/3);
  padding-left: 36px;
}
